{% extends "layout.html" %}
{% block title %}Contact {% endblock %}
{% block content%}
<div class="contact">
   <p>For anything / anytime you can contact us: </p>
   <a href="https://github.com/m6min"><i class="fa-brands fa-github"></i>Github</a>
   <br>
   <a href="mailto: muminflz@gmail.com"><i class="fa-solid fa-inbox"></i>Mail</a>
   <br>
   <a href="https://instagram.com/6mumiin"><i class="fa-brands fa-instagram"></i>Instagram</a>
   <br>
</div>
<h3>And if you want to leave a feedback: </h3>
<textarea autocomplete="off" spellcheck="false" id="feedback" rows="4" cols="50" placeholder="..."></textarea>
<button type="button" id="send" class="btn"><i class="fa-solid fa-paper-plane"></i> Send</button>
{% endblock %}
{% block script %}
    <script src="{{url_for('static', filename='script/telegramBot.js')}}"></script>
{% endblock %}