{% extends "layout.html" %}  
{% block title %}Home {% endblock %}
{% block content %}
    <div class="create" id="topic"><i class="fa-solid fa-plus"></i>
    <h1>Create a topic to start discussing with people.</h1>
    <a href="{{ url_for('create_topic') }}" 
       style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;">
       </a>
    </div>
    <div class="create" id="message"><i class="fa-regular fa-comment"></i>
    <h1>Find a topic and join the discuss.</h1>
    <a href="{{ url_for('search_topics') }}" 
       style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;">
       </a>
    </div>
    <br><br><br>
    <div class="topics" id="topics">
        <h2>Latest Topics</h2>
        {% for t in all_topics[:7] %}
        <div class="topic">
            <a href="{{ url_for('topic', topic_id=t.id) }}" id="topic-name">{{ t.title }}</a>
            <h6 id="date">{{ t.date }}</h6>
        </div>
        {% endfor %}
    </div>
{% endblock %}