{% extends "layout.html" %}
{% block title %}Rules {% endblock %}
{% block content %}
<div class="rules">
    <h1>Rules of the game:</h1>
    <p>You should know that you're the king (or queen) of here, but we have a few rules to keep the game fair:</p>
    <ol>
    <li><strong>Be Respectful:</strong> Attack ideas, not people. Profanity, insults, and bullying are strictly prohibited.</li>
    <li><strong>Follow the Law:</strong> Sharing illegal content is strictly forbidden. This is 
        just a Open-Source project, don't get yourself (or us) in trouble.</li>
    <li><strong>You Leave a Trace:</strong> You are free, but not invisible. 
        For security purposes, <strong>your IP addresses are logged.</strong> In cases of 
        violation, this data may be used for legal proceedings.</li>
    <li><strong>Right to Remove:</strong> Content that violates the rules is not protected by 
        "freedom of speech" and will be removed.</li>
</ol>
</div>
{% endblock %}