/* ROOTS, *, BODY */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
::selection {
    background-color: burlywood;
}
:root {
    /* #222650; */
    --bg-color: #313647;
    --main-white: #EDE0D4;
    --secondary-bg: #769bb4;
    --secondary-green: #A3B087;
}
body {
    font-size: 18px;
    line-height: 1.6;
    color: var(--main-white);
    background-color: var(--bg-color);
}
a {
    text-decoration: none;
    color: inherit;
}
input {
    font-family: sans-serif;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 20px;
    color: var(--bg-color);
    background-color: var(--main-white);
    max-width: 400px;
}
button {
    transition: all 0.5s ease;
    cursor: pointer;
}
/* LAYOUT, MAIN CONTENT CONTAINER */
.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: transparent;
    display: grid;
    justify-items: center;
    padding: 30px  15px;
    align-content: start;
    gap: 30px;
}
/* +18 WARNING */
.warning {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99999;
}
.warning .card {
    max-width: 400px;
    padding: 30px;
    margin: 20px;
    text-align: center;
    background-color: var(--main-white);
    border-radius: 5px;
    color: var(--bg-color);
}
.card h1 {
    font-size: 23px;
}
.card p {
    font-size: 15px;
    margin: 15px 0;
}
.btn {
    padding: 15px;
    font-size: 15px;
    margin: 5px;
    width: 60%;
    border: 1px solid var(--bg-color);
    border-radius: 30px;
    font-family: inherit;
    background-color: var(--main-white);
    color: var(--bg-color);
}
.decline {
    background-color: transparent;
    color: var(--bg-color);
}
.accept {
    background-color: var(--bg-color);
    color: var(--main-white);
}
.hide {
    display: none;
}
/* HEADERS */
header {
    width: 100%;
    padding: 15px;
    background-color: var(--main-white);
}
header a {
    display: inline-block;
    font-family: "Pacifico", cursive;
    color: var(--bg-color);
    font-size: 20px;
    text-decoration: none;
    transition: transform 0.3s ease-in;
}
header a:hover {
    transform: scale(1.1);
}
/* FOOTERS */
footer {
    width: 100%;
    padding: 20px;
    background-color: var(--secondary-bg);
    color: var(--main-white);
    font-size: 16px;
    text-align: center;
}
footer a {
    color: inherit;
    border-bottom: 1px solid var(--main-white);
}
/* [Index.html] */
.create {
    width: 100%;
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--main-white);
    border: none;
    border-radius: 10px;
    gap: 20px;
    color: var(--bg-color);
    padding: 20px;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.create i {
    font-size: 30px;
    text-align: center;
}
.create:hover {
    transform: scale(1.02);
}
.create h1 {
    font-size: 18px;
}
.topics {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    gap: 15px;
}
.topics h2 {
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid var(--main-white);
}
.topic {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    width: 100%;
    max-width: 500px;
    background-color: var(--main-white);
    color: var(--bg-color);
    text-align: start;
    padding: 20px;
    border-radius: 10px;
    line-break: normal;
}
.topic:hover {
    transform: scale(1.02);
}
.topic a {
    color: inherit;
}
.topic h6 {
    color: var(--bg-color);
    font-size: 13px;
    text-align: end;
}
/* CONTACT PAGE */
.contact {
    background-color: var(--main-white);
    color: var(--bg-color);
    padding: 20px;
    max-width: 500px;
    font-style: italic;
    font-size: 20px;
    border-radius: 10px;
}
.contact p {
    margin-bottom: 20px;
}
.contact a {
    color: inherit;
}
.contact i {
    margin-right: 50px;
}
.fa-github {
    color: #171615;
}
.fa-instagram {
    color: #ef1e1e;
}
.fa-inbox {
    color: #085c8d;
}
textarea {
    padding: 20px;
    height: 200px;
    width: 100%;
    max-width: 400px;
    outline: none;
    color: var(--bg-color);
    border-radius: 15px;
    background-color: var(--main-white);
    resize: none;
    font-size: 15px;
    font-family: sans-serif;
}
textarea:focus {
    border: 1px solid #67c157;
}
input:focus {
    border: 1px solid #67c157 !important;
}
#send {
    background-color: var(--main-white);
    color: var(--bg-color);
    max-width: 400px;
}
#send:hover {
    background-color: var(--bg-color);
    color: var(--main-white);
    border: 1px solid var(--main-white);
}
h3 {
    font-size: 20px;
}
/* Create_topic Page CSS */
form {
    width: 100%;
    max-width: 400px;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
    margin: 0 auto;
    text-align: center;
}
input[id="topic-name"] {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 20px;
    color: var(--bg-color);
    background-color: var(--main-white);
    max-width: 400px;
}
#submit {
    justify-self: center;
    transition: all 0.5s ease;
}
#submit:hover {
    background-color: var(--bg-color);
    color: var(--main-white);
    border: 1px solid var(--main-white);
}
form a {
    border-bottom: 1px solid var(--main-white);
}
/* RULES PAGE */
.rules {
    width: 100%;
    font-size: 17px;
    padding: 30px;
}
.rules ol {
    width: 100%;
}
.rules h1 {
    font-size: 25px;
}
strong {
    font-style: italic;
    color: inherit;
}
/* TOPIC DETAILED PAGES */
p[id="topic-name"] {
    font-size: 22px;
}
p[id="topic-content"] {
    font-size: 15px;
}
/* SEARCHING TOPICS */
#search-btn:hover {
    background-color: var(--bg-color);
    color: var(--main-white);
    border: 1px solid var(--main-white);
}
/* ERROR, ADMIN PAGES */
.redirect {
    background-color: var(--secondary-green);
    color: var(--main-white);
    padding: 17px;
    border-radius: 30px;
    font-size: 17px;
}
#go-panel:hover {
    background-color: var(--bg-color);
    color: var(--main-white);
    border: 1px solid var(--main-white);
}
/* Small Devices => Font updates */
@media (max-width: 400px) {
    .card h1 {
    font-size: 20px;
    }
    .create h1 {
    font-size: 16px;
    }
    .topics h2 {
        font-size: 18px;
    }
    p[id="topic-name"] {
    font-size: 20px;
    }
    h3 {
    font-size: 20px;
    }
      }